#navbar {
  width: 926px;  /* descendant selector margin values effect this width; subtract 2px for each link */
  border: solid 2px black;
  background-color: yellow;
  text-align: center;
  margin-bottom: 10px;
}

#navbar ul li {
   list-style-type: none;
   display: inline;
   color: black;
   margin-right: 2em;
   padding: 6px;
}

#navbar ul li a:link {
  background-color: #f6f60d;
}

#navbar ul li a:hover {
  color: #f4f427;
  background-color: #090909;
}